<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PixelVista</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/feed.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="navbar">
    <div class="feed" onclick="window.location.href='/feed'">Feed</div>
    <a id="site-name" href="/feed">PixelVista</a>
    <div id="more">
      <button class="dropbtn">More <span id="arrow-icon" class="arrow-down">&#9660;</span></button>
      <div id="dropdown-content" class="dropdown-content">
        <a href="/profile">Profile</a>
        <a href="/upload">Upload</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
  </div>
  </div>
  <div id="myModal" class="modal">
    <div class="modal-content">
      <img id="modalImage" src="" alt="">
      <div class="postname">
        <span id="modalName" onclick="openUser()"></span> : "<span id="modalDescription"></span>"
      </div>
      <div class="likesection"> 
        <i class="fa-solid fa-expand fa-2xl" onclick="openfullimage()"></i>
        <i class="fa-solid fa-download fa-2xl" id="downloadButton"></i>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="cards flex">
      <% post.forEach(function(post){%>
        <div class="card" id="card">
          <div class="overlay-text top-text">
            <div class="dp">
             <img id="DpImage" src="https://res.cloudinary.com/dwzejho0w/image/upload/v1708192875/<%=post.user.dp%>" alt="">
            </div>
            <div class="name" onclick="window.location.href='/user/<%=post.user._id%>'">
              <%=post.user.fullname%>
            </div>
          </div>
          <img class="card-image" src="https://res.cloudinary.com/dwzejho0w/image/upload/v1708087070/<%=post.image%>"
            alt="Card Image">
          <div class="overlay-text bottom-text">
            <%=post.imageText%>
          </div>
          <div class="likes" hidden>
              <%=post.id%>
          </div>
          <div class="userofpost" hidden>
              <%=post.user.id%>
          </div>
        </div>
        <%})%>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/javascripts/feed.js"></script>
  <script src="https://kit.fontawesome.com/cf797f79f1.js" crossorigin="anonymous"></script>
</body>


</html>