<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=user.username%></title>
  <link rel="stylesheet" href="/stylesheets/user.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=EB+Garamond:wght@487&display=swap" rel="stylesheet">
</head>
<body>
  <div class="outerBox">
    <div class="innerbox">
      <div class="profile">
        <div class="dp" >
          <img id="mainImage" src="https://res.cloudinary.com/dwzejho0w/image/upload/v1708515277/<%=user.dp%>" alt="">
        </div>
       <div class="nameSection">
        <div class="fullname"><h1><%=user.fullname%></h1></div>
        <div class="username">@<%=user.username%></div>
        <div class="bio"><%=user.bio%></div>
        <div class="description"><%=user.description%></div>
        <div class="noofpost"><%=user.posts.length%> Posts</div>
      </div> 
      </div>
      <div class="posts">
        <div class="container">
          <div class="cards flex">
            <% user.posts.forEach(function(post){%>
              <div class="card">
                <img src="https://res.cloudinary.com/dwzejho0w/image/upload/v1708515277/<%=post.image%>"
                  class="card-img-top card-image" alt="...">
                <div class="card-body">
                  <h5 class="card-title overlay-text bottom-text">
                    <%=post.imageText%>
                  </h5>
                </div>
              </div>
              <%})%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/javascripts/user.js"></script>
</body>
</html>